<div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment.body}}
            </div>
            <div class="meta">
                -{{user_id}}
            </div>
        </section>
    </div>
    {{/each}}
</div>