div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post">{{title}}</a></h4>
        <p>Posted by tech_bloguser</p>
    </div>
    <p class="card-body">{{body}}</p>
</div>