<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Techie Blog</title>
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
        <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    </head>

    <body>
        <div class="wrapper">
            <header class="hero">
                <div>
                    <nav class="nav">
                         <a class="title" href="/">The Techie Blog</nav>
                        <a class="link" href="/">Home</a>
                        <a class="link" href="/dashboard">Dashboard</a>
                        
                        <a class="link" href="/login">Log In</a>
                        <a class="link" href="/signup">Sign Up</a>
                        {{#if loggedIn}}
                        <a class="link" id="logout">Log Out</a>
                        {{/if}}

                    </nav>
                </div>
               
            </header>
            <main>
                {{{body}}}
            </main>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>
</html>