{{!-- {{#if posts.length }}

<section>
    <h2>
        Your recent Posts
    </h2>
    {{#each posts as |post| }}
    {{> dashboardinfo post}}
    {{/each}}
</section>

<button type="submit" class="btn"><a class="link" href="/dashboard">Create New Post</a></button>

{{/if}} --}}




<section>
    <h2>
        Your Recent Posts
    </h2>
    {{#each posts as |post| }}
    {{> dashboardinfo post}}
    {{/each}}
</section>

<button type="submit" class="btn"><a class="link" href="/new-post">Create New Post</a></button>

        
        