<div class = "card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <label for="post-title" class="form-label">Title of Post</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
    </form> 