<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label id="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />

        <label id="password-signup" class="form-label">Password</label>
        <input id="password-signup" class="form-input" type="form-input" />
    </form>
</div>

<script src="/javascript/signup.js"></script>